<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Dependent Bean class  -->
    <bean id="charger"  class="com.dib.beans.MobilePhoneBatteryCharger"/>
    
    <!-- Target Bean class  -->
    <bean id="phone"  class="com.dib.beans.MobilePhone">
       <!-- <property name="beanId"  value="charger2"/> -->
       <property name="beanId">
           <idref  bean="charger"/>
       </property>
    </bean>

</beans>
